/* PREFACE - For this scss file, I have decided to use the BEM notation to structure my properties. BEM stands for 'Block__Element--Modifier'. Using BEM is an efficient way to change and edit CSS properties at a large scale.*/ 

/* I have also included the use of external pre-set SCSS variables which contain properties such as colour themes and screen sizes. Using external SCSS files for preset variables is a great tool to use for larger, complex projects as it makes CSS more modular and easier to read. */

// These external properties are located within a seperate directory (scss-docs) and will be imported with the commands below: 
@import "SCSS/themes";
@import "SCSS/screenSize";

/* GOOGLE FONT */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* The '*' selector selects all elements in an HTML file. I am declaring the margin, padding and box-sizing properties to get rid of default values throughout the doc. */
* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
}

.navBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100vw; 
    align-items: center;
    top: 0;
    position: fixed;
    background-color: transparent;
    z-index: 10;
    padding: 20px 15%;
    height: 10%;
    
    @media only screen and (max-width: $tablets) { 
        padding: 15px;
        background-color: $secondary-theme-color;
    }

    &__Logo {
        width: 200px;
    }

    &__Links {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        color: white;
        gap: 20px;

             @media only screen and (max-width: $tablets) { 
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;
                position: fixed;
                top: 0;
                right: -751px; //set to -769 to make sure it doesnt show on laptop screens and higher.
                height: 100vh;
                width: 70%;
                background-color: $secondary-theme-color;
                box-shadow: 0 40px 100px rgba(0,0,0,1);
                padding: 80px 0 0 10px;
                transition: 0.3s;
                font-size: 2rem;
                gap: 40px;
            }

            &--close {
                display: none;
                font-size: 4rem;

                @media only screen and (max-width: $tablets) { 
                   cursor: pointer;
                   display: block;
               }
            }
    }

    &__Login {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        color: white;
        gap: 10px;

        @media only screen and (max-width: $tablets) { 
            display: none;
        }

        &--btn {
            color: white;
            background-color: $btn-color;
            padding: 10px;
            border-radius: 5px;
            border: none;
            width: 180px;

            &:hover {
                background-color: rgb(5, 54, 132);
                padding: 7px;
                transition: 0.3s;
            }
        }
    }

    &__btn {
        font-size: 3rem;
        display: none;
        color: white;

        @media only screen and (max-width: $tablets) { 
            display: block;
        }
    }
}

.main {
    background-image: linear-gradient(0deg, $primary-theme-color, $secondary-theme-color);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    padding: 0px 20%;
    height: 80vh;
    overflow: hidden;

    @media only screen and (max-width: $tablets) { 
        padding: 10px;
        height: 100vh;
        margin-top: 50px;
    }

    &__content {
        margin-top: 30px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        position: relative;
    
        @media only screen and (max-width: $tablets) { 
            flex-direction: column-reverse;
            justify-content: center;
        }

        &__copy {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            color: white;
            gap: 20px;
            padding-right: 15px;

                @media only screen and (max-width: $tablets) { 
                    text-align: center;
                    align-items: center;
                    padding: 0;
                }

            &--header {
                font-size: 2.5rem;
                font-weight: 500;
                z-index: 1;

                @media only screen and (max-width: $tablets) { 
                    font-size: 2rem;
                }
            }

            &--para {
                font-weight: 100;
                z-index: 1;
                padding-right: 50px;
                font-size: 0.9rem;

                @media only screen and (max-width: $tablets) { 
                    padding: 0%;
                }
            }

            &--btn {
                color: white;
                background-color: $btn-color;
                padding: 10px;
                border-radius: 5px;
                border: none;
                width: 180px;
                height: 40px;
                z-index: 1;
                    
                    @media only screen and (max-width: $tablets) { 
                        width: 90vw;
                    }
    
                &:hover {
                    background-color: rgb(5, 54, 132);
                    padding: 7px;
                    transition: 0.3s;
                }
            }
        }

        &__circle {
            position: absolute;
            right: -200px;

            @media only screen and (max-width: $tablets) { 
                display: none;
            }
        }

        &__img {
            width: 60%;
            z-index: 1;

            @media only screen and (max-width: $tablets) { 
                display: none;
            }

            &--tablet {
                display: none;

                @media only screen and (max-width: $tablets) { 
                    display: block;
                }
            }
        }
    }
}

.products {
    background-color: white;
    width: 100%;
    padding: 50px 20%;

    @media only screen and (max-width: $tablets) { 
        padding: 10px;
        height: 100%;
    }

    &__header {
        color: $secondary-theme-color;
        margin: 0px auto 50px;
        font-weight: 500;
        text-align: center;
        font-size: 2rem;

        @media only screen and (max-width: $tablets) { 
            font-size: 1.7rem;
            margin: 10px 5px;
            width: 90%;
        }
    }

    &__content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        gap: 50px;

        @media only screen and (max-width: $tablets) { 
            flex-direction: column-reverse;
        }

        &__card {
            width: 350px;
            border-radius: 5px;
            box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
            
                @media only screen and (max-width: $tablets) { 
                    width: 80vw;
                }

            &__img {
                width: 100%;
                height: 50%;
                border-radius: 5px 5px 0px 0px;
            }

            &__copy {
                padding: 20px;

                &--header {
                    color: $secondary-theme-color;
                    font-weight: 500;
                    margin-bottom: 10px;
                }

                &--para {
                    color: $primary-text-color;
                    font-size: 0.8rem;
                }
            }
        }
    }
}

.docShare {
    background-color: rgb(246,247,248);
    width: 100%;
    padding: 50px 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    
    @media only screen and (max-width: $tablets) { 
        padding: 20px 0px;
        height: 100%;
    }

    &__content {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 100px;
        
            @media only screen and (max-width: $tablets) { 
                flex-direction: column-reverse;
                gap: 20px;
                align-items: center;
            }

        &__copy {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 40%;
        
            @media only screen and (max-width: $tablets) { 
                width: 90%;
            }

            &--header {
                color: $secondary-theme-color;
                font-size: 2rem;
                font-weight: 400;
            }

            &--para {
                color: $primary-text-color;
                font-size: 0.8rem;
            }
        }

        &__img {
                    
            @media only screen and (max-width: $tablets) { 
                width: 70%;
            }
        }
    }
}

.docSign {
    background-color: white;
    width: 100%;
    padding: 50px 20%;
    display: flex;
    align-items: center;
    justify-content: center;
        
    @media only screen and (max-width: $tablets) { 
        padding: 20px 0px;
        height: 100%;
    }

    &__content {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 100px;
               
        @media only screen and (max-width: $tablets) { 
            flex-direction: column;
            gap: 20px;
            align-items: center;
        }

        &__copy {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 10px;
            width: 40%;
                    
            @media only screen and (max-width: $tablets) { 
                width: 90%;
            }

            &--header {
                color: $secondary-theme-color;
                font-size: 2rem;
                font-weight: 400;
            }

            &--para {
                color: $primary-text-color;
                font-size: 0.8rem;
            }
        }
        
        &__img {
                    
            @media only screen and (max-width: $tablets) { 
                width: 70%;
            }
        }
    }
}

footer {
    background-color: black;
    height: 100px;
    width: 100%;
    
    @media only screen and (max-width: $tablets) { 
        height: 50px;
    }
}

// This 'active' class is associated with floating the mobile/tablet menu bar from the right hand side. Check main.js for functionality.
.active {
    right: 1px;
}